@charset "utf-8";
/*
Title: default.css - HOLD Web Site
Author: STIC <stic@yk.rim.or.jp>
Update: 2023/09/30
*/
body {
	background-color: #ffffff;
/*	font-family: Meiryo, sans-serif; */
	font-family: sans-serif;
	color: #000000;
	width: 80%;
	margin: 1em auto;
	line-height: 1.5;
}
div.menu {
	float: left;
	width: 40%;
	margin-left: 1em;
}
div.content {
	float: right;
	width: 55%;
}
div.footer {
	clear: both;
}
div.yk {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
div.ykleft {
	float: left;
	width: 50%;
	margin-bottom: 2ex;
}
div.ykright {
	margin-left: 50%;
	margin-bottom: 2ex;
}
img.left {
	float: left;
}
img.right {
	float: right;
}
pre {
	font-family: monospace, monospace;
    font-size: 1em;
	white-space: pre-wrap;
	overflow: hidden;
}
.border {
	border: 1px #000000 solid;
	border-collapse: collapse
}
table small {
	color: #666666;
}
th, td {
	padding: 0px 5px;
}
td.nowrap {
	white-space: nowrap;
}
.clear {
	clear: left;
}
.top {
	vertical-align: top;
}
.center {
	text-align: center;
}
.left {
	text-align: left;
}
.margin {
	margin-left: 2em;
	margin-right: 2em;
}
.space {
	margin-top: 1em;
	margin-bottom: 1em;
}
.code {
	background-color: #dcdcdc;
	font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
	margin-left: 2em;
	margin-right: 2em;
	padding: 0.25em 0.25em 0.25em 0.25em;
	white-space: pre;
	overflow: auto;
}